@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('fonts/TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('fonts/TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    min-width: 320px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
}

.container {
    padding: 0 16px;
}

.header {
    height: 88px;
    margin-bottom: 24px;

    background-color: #fff;

    border-bottom: 1px solid #D9FFF5;
}

.header__nav {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list1 {
    margin: 0;
    padding: 0;
    height: 88px;

    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list2 {
    margin: 0;
    padding: 0;
    height: 88px;

    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__list1 li,
.nav__list2 li  {
    margin-right: 16px;
    height: 40px;
}

.list1__elem1,
.list1__elem2 {
    display: none;
}

.list1__elem1_active {
    display: block;
}

.list1__elem2,
.list2__elem5 {
    margin-right: 0 !important;
}

.list1__elem2 {
    height: auto !important;
}

.list2__elem4::before {
    content: "";
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
}

.list2__elem1,
.list2__elem2,
.list2__elem3 {
    display: none;
}

.title {
    height: 40px;
    margin-bottom: 24px;
    white-space: nowrap;
}

.title h1 {
    font-size: 28px;
    font-weight: 700;
    margin-left: 0;
    margin-left: 24px;
}

.title h1::before {
    content: "";
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 0px;
}

.title__application,
.title__status {
    display: none;
}

.for-hidden {
    height: 42px;
    overflow: hidden;
    margin-bottom: 24px;
}

.for-hidden__services {
    margin: 0;
    padding: 0;
    margin-left: 16px;

    display: flex;
    white-space: nowrap;

    font-size: 16px;
    list-style: none;
    font-weight: 500;

    overflow: auto;
}

.for-hidden__services a {
    text-decoration: none;
    color: #7E7E82;
}

.for-hidden__services li {
    border: 2px solid transparent;
    border-radius: 10px;

    transition: 0.5s;

    padding: 8px 16.67px 8px 10px;
}

.services__elem3,
.services__elem5 {
    display: none;
}

.for-hidden__services li:hover,
.for-hidden__services li:focus {
    border-color: #B8FFEC;
    background-color: #fff;
    /* transition: 0.2; */
}

.section__about-brend {
    margin-bottom: 16px;
    height: 90px;

    font-size: 14px;
    line-height: 18px;

    overflow: hidden;
}

.section__about-brend p {
    margin-top: 0;
}

.section__more {
    display: flex;
    margin-left: 8px;
    margin-bottom: 16px;
    /* position: relative; */

    font-size: 16px;
    font-weight: 500;
}

.section img {
    width: 100%;
    height: auto;
}

.section__more button {
    cursor: pointer;
}

.section__more::before {
    content: '';
    background-image: url("image/down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    display: block;
    width: 30px;
    height: 20px;
    /* transform: rotate(180deg); */
}

.section__more button {
    border: none;
    background-color: #F8F8F8;
}

.burger {
    width: 320px;
    position: absolute;
    background-color: #fff;

    z-index: 1;

    display: none;
}

.burger_active {
    display: block;
}

.burger__list {
    margin: 0;
    padding: 0;

    padding-left: 24px;

    font-size: 16px;
}

.burger__item {
    list-style: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.burger__list_1 {
    margin-top: 30px;
    margin-bottom: 100px;

    padding: 0;
}

.burger__list_1 .burger__item {
    margin-bottom: 14px;

    height: 32px;

    line-height: 32px;
    padding-left: 24px;
}

.burger__list_1 .burger__item_active {
    color: #7E7E82;
    border-left: 4px solid #41F6D7;

}

.burger__list_2 {
    display: flex;
    gap: 16px;

    margin-bottom: 16px;
}

.burger__list_3 {
    margin-bottom: 40px;
}

.burger__list_3 .burger__item {
    margin-bottom: 12px;
}

.burger__link {
    text-decoration: none;
    color: #1B1C21;
    display: block;
}

.burger__link_bold {
    font-size: 24px;
    font-weight: bold;
}

.burger__list_4 {
    display: flex;
    gap: 7px;

    margin-bottom: 32px;
}

.burger__list_4 .burger__item_active {
    color: #7E7E82;
}



@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #F8F8F8;
        min-width: 768px;
        font-family: 'TT Lakes', sans-serif;
        font-size: 14px;
    }

    .container {
        padding: 0 24px;
    }

    .list1__elem1::after {
        content: "";
        background-color: #EAEAEA;
        width: 2px;
        height: 32px;
        display: inline-block;
        margin-left: 20px;
    }

    .list2__elem1,
    .list2__elem2,
    .list2__elem3 {
        display: list-item !important;
    }

    .section {
        display: flex;
        justify-content: space-between;
    }

    .section__about-brend {
        margin-bottom: 16px;
        min-width: 312px;
        min-height: 150px;
    
        font-size: 14px;
        line-height: 20px;
    
        overflow: hidden;
    }

    .section__about-brend p:first-child {
        margin-bottom: 25px;
    }

    .section img {
        width: 360px !important;
        height: auto;

        margin-right: 25px;

        border-radius: 10px;
    }
}

@media (min-width:1120px) {
    body {
        margin: 0;
        padding: 0;

        background-color: #F8F8F8;

        width: 1120px;

        font-family: "TT Lakes", sans-serif;
        font-size: 16px;

        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 82px !important;
        margin-bottom: 8.37px;
        white-space: nowrap;
        padding-right: 32px;
    }

    .title h1 {
        font-size: 28px;
        /* margin-right: 450px; */
        margin-left: 32px;
        margin-top: 42px;
        font-weight: 700;
    }

    .title__block {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .title__application,
    .title__status {
        display: block !important;
        text-decoration: none;
        color: #1B1C21;
        position: relative;

        margin-right: 80px;
        margin-top: 30px;
    }

    .title__application,
    .title__status {
        margin-right: 80px;
    }

    .title__application::after {
        position: absolute;
        content: "";
        margin-top: -10px;
        margin-left: 8px;
        background-image: url("image/service.svg");
        background-repeat: no-repeat;

        width: 40px;
        height: 40px;
    }

    .title__status::after {
        position: absolute;
        content: "";
        margin-top: -10px;
        margin-left: 8px;
        background-image: url("image/checkstatus.svg");
        background-repeat: no-repeat;

        width: 40px;
        height: 40px;
    }

    .for-hidden {
        overflow: visible !important;
        height: auto !important;
        margin-bottom: 16px !important;
        margin-left: 10px;
    }

    .for-hidden__services {
        flex-wrap: wrap;
    }

    .services__elem2 {
        display: none;
    }

    .services__elem3,
    .services__elem5 {
        display: list-item !important;
    }

    .section__about-brend {
        margin-bottom: 16px;
        min-width: 312px;
        min-height: 150px;
    
        font-size: 16px !important;
        line-height: 20px !important;
    
        /* overflow: hidden; */
    }

    .section img {
        width: 531.35px !important;
        height: auto;

        margin-right: 25px;

        border-radius: 10px;
    }
}
